.vs/
RaphCare.Domain/obj/
RaphCare.Application/bin/
RaphCare.Application/obj/
RaphCare.Domain/bin/
RaphCare.Infrastructure/obj/
RaphCare.Infrastructure/bin/
RaphCare.Persistence/obj/
RaphCare.Identity/obj/
RaphCare.Identity/bin/
RaphCare.Persistence/bin/
RaphCare.API/obj/
RaphCare.API/bin/
RaphCare.Mobile/obj/
RaphCare.Web/obj/
RaphCare.Client/obj/
RaphCare.Mobile/bin/
RaphCare.Web/bin/
